<footer class="footer">  
    <div class="social">
            <div class="social-icon">
                <i class="fa-solid fa-at"></i>
            </div>  
            <p>Yulii.vargas@gmail.com</p>
    </div>
   
    <div class="social">
        <div class="social-icon">
            <i class="fa-solid fa-earth-americas "></i>
        </div>
        <p>Córdoba Capital  ARGENTINA</p>
    </div>
   
    <div class="social">  
        <div class="social-icon">
                <i class="fa-brands fa-github"></i>
        </div>
    <a href="https://github.com/Yuliana-Vargas" target="_blank" class="github" >/Yuliana-Vargas</a>
    </div>   
    
</footer>