.footer{
    display:grid;
    background-color: black;
    height:25rem;
    align-content: center;
    justify-content:center;
}

.social{
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    margin: 15px;
}

.social-icon{   
  background-color: rgb(6, 117, 234);
  border-radius:50%;
  margin: 15px;
  width:40px;
  height:40px;
  font-size: 29px;
}