<header class="header">
    <nav class="nav">
        <a href="#" class="logo nav-link"> Portfolio </a>
            
        <button class="nav-toggle">
            <i class="gg-menu-grid-o"></i>
        </button>
            
        <ul class="nav-menu">
            <li class="nav-menu-item"><a href="" class="nav-menu-link nav-link">Inicio</a></li>
            <li class="nav-menu-item"><a href="#acercade" class="nav-menu-link nav-link">Acerca De</a></li>
            <li class="nav-menu-item"><a href="#educacion" class="nav-menu-link nav-link">Educación</a></li>
            <!--<li class="nav-menu-item"><a href="#proyectos" class="nav-menu-link nav-link">Proyectos</a></li>-->
            <a href="#" title="LogIn" class="nav-btn-login">Log In</a>
           

        </ul>
    </nav>
</header>
