.about{
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,30rem), 1fr));
    min-width: 310px;
    width:90vw;
    margin: auto;
}

.container-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
   
}

.container-img img{
    max-width:100%;
    border-radius: 50%;
}

.about .box{
    min-height: 450px;
}

.container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.container-text p{
    color: white;
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 15px;
    margin: 20px;
}

.container-text h2{
    color:white;
    font-size: 50px;
}


/* Formation styling ***************************************/
.formation{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,20rem), 1fr));
    width:90vw;
    min-width: 310px;
    align-content: center;
    margin:auto;
}

.title{
    color:white;
    font-size: 2rem;
}

.btn-right{  
    border-radius:50%;  
    color: crimson;
    font-size: 1.5rem;
}


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(3, 3, 3, 0.9);
    border-radius:20px;
    justify-content:center;

}

.card{
    color:white;
    text-align: center;

}
.card h4{
    color: white;
}

.card ul li{
    list-style-type: none;
}

.fecha{
    color: white;
    font-style: italic;
    font-size: 1rem;
}

