<section class="about" id="acercade" > 
            
    <div class="container-about">
        <div class="container-img">
            <img src="../../../assets/img/perfil.png">
        </div>
    </div>

    <div class="box"> 
        <div class="container-text">
            <h2>Acerca <span>De Mi</span> </h2>
            <a href="#" class="btn-right">
                <i class="fa-solid fa-pen"></i>
            </a>
            
            <p>Soy estudiante de Ingeniería en Computación, 
            apasionada por la programación, buscando 
            lograr mi primera experiencia en el sector IT. <br>
            Mi deseo es formar parte de un equipo de 
            trabajo que me acompañe en mi progreso 
            personal, académico y laboral, al cual pueda 
            aportarle mis habilidades y compromiso.</p>
        </div>      
    </div>    
</section>
