*, *::after, *::before{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(assets/img/3.jpg);
    font-family: 'Poppins', sans-serif;
}

#main-container{
    display: grid;
    grid-gap: 15rem;
    align-content: center;
}


